// Fonts
$font-stack: 'Karla', sans-serif;

// Header
$header-bg: #F8F8F7;

// Illustration
$illustration-bg: #EA693F;

// About
$about-bg: #79857D;
$about-text: #E9E9E1;

// Body
$body-background: #ffffff;
$body-text: #333333;
