@import 'mixins';
@import 'variables';

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  @include font-size(14);
  font-family: $font-stack2;
  @include line-height(20);
  color: $body-text;
  background-color: $body-background;
  -webkit-font-smoothing: antialiased;
}

a, a:hover, a:visited, a:active {
  color: #333;
  text-decoration: none;
}

a img {
  border: none;
}

.inner {
  max-width: 1024px;
  margin: 0 auto;
}

.right {
  float: right;
}

.container {
  width: 100%;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  font-family: $font-stack2;
  letter-spacing: 0.15em;
  text-transform: lowercase;
  width: 100%;
  background-color: $header-bg;
  @include font-size(15);
  @include line-height(30);
  z-index: 1000;
  padding-top: 30px;
  text-align: left;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 15px;

  .name {
    width: 40%;
    float: left;
    @include font-size(12);
    display: inline-block;
    z-index: 88888;

    a, a:hover, a:visited, a:active {
      text-decoration: none;
    }
  }

  .nav {
    display: inline-block;
    -webkit-padding-start: 5px;
    -webkit-margin-before: 0;
    float: right;

    ul {
      margin-bottom: 10px;
    }

    li.nav-header {
      display: inline-block;
      @include font-size(10);
      @include line-height(10);
      padding-right: 10px;
      text-decoration: none;
      background-color: transparent;

      a, a:visited {
        color: #b1b1b1;
        text-decoration: none;
        background-color: transparent;
      }

      a:hover, a:active, .active {
        color: #616576;
        text-decoration: none;
        background-color: transparent;
      }

    }

    // li.mobile-header a {
    //   color: #b1b1b1;
    // }
  }
}

#illustration {
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: $illustration-bg;
  color: $illustration-text;

  a {
    color: $illustration-text;
  }

  img {
    width: 350px;
  }
}

#about {
  padding: 100px;
  background-color: $about-bg;
  color: $about-text;

  a, a:hover, a:visited, a:active {
    color: $about-text;
    text-decoration: none;
  }
}

#resume {
  padding-bottom: 150px;
  background-color: $resume-bg;
  color: $resume-text;

  .resume-section {
    padding-top: 150px;

    .section-title {
      @include font-size(20);
      border-bottom: thin solid $resume-text;
      padding: 0px;
      padding-bottom: 10px;
    }

    .section-content {
      padding-top: 30px;
      padding-bottom: 30px;
      @include line-height(27);
      @include font-size(14);
      color: $resume-info-text;
      white-space: nowrap;

      div {
        padding: 0px;
      }

      .aux-info {
        @include font-size(12);
      }

      .info {
        padding-top: 15px;
        white-space: normal;
        @include font-size(12);

        ul {
          list-style: circle;
        }

        .tech-list {
          padding-top: 10px;
          padding-left: 0px;

          li {
            @include font-size(9);
            display: inline;
            padding: 8px;
            padding-right: 10px;
            padding-left: 10px;
            margin-right: 10px;
            @include border-radius(20px);
            border: thin solid $tech-border-colour;
            text-transform: uppercase;
          }
        }


      }

      .logo {
        margin-right: 20px;
        @include border-radius(34px);
        max-width: 67px;
        max-height: 67px;
        width: auto;
        height: auto;
        background: white;
      }

      .degree {
        @include font-size(16);
        color: $resume-text;
      }
    }
  }
}

#footer {
  font-family: $font-stack2;
  width: 100%;
  background-color: $footer-background;
  color: $footer-text;
  @include font-size(10);
  @include line-height(30);
  z-index: 1000;
  padding-top: 30px;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;

  .copyright {
    width: 40%;
    float: left;
    display: inline-block;
    z-index: 1001;
  }

  .links {
    display: inline-block;
    float: right;

    a, a:active, a:visited {
      color: $footer-links;
      text-decoration: none;
    }
    a:hover {
      color: $footer-links-hover;
    }
  }

}
